<%= form_for(@city_list) do |f| %>
  

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city, placeholder: "City Name Here" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
