<hr>

<h2 class="city_list_title">Cities</h2>

<hr>

<div class="city_list_container">


<% @city_lists.each do |city_list| %>
    <div class="index_row clearfix">
        <h2 class="city_list_title"><%= link_to city_list.city, city_list %> </h2>
    </div>
<% end %>

<div class="links">
    <%= link_to "Create New City", new_city_list_path %>
</div>

</div>
