.restaurant_name {
    margin-left: 10px;
}

.new_restaurant {
    margin-left: 10px!important;
}

.todo_item {
	width: 80%;
	float: left;
	p {
		margin: 0;
		padding: 1em;
		color: $dark;
		font-weight: 100;
	}
}

.eat {
    margin-left: 10px;
}

.trash {
    margin-left: 10px;
}
